.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: 650px ;
    border: 1px solid black;
    border-radius: 100px;
    width: 50px;
}
.m{
    margin: 10px;
}
.light{
    display: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    background: #000;
    color: #fff;
}
.dark{
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}